@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap);
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px - 36em) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px - 48em) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px - 62em) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px - 75em) { ... }
*/

@include breakpoints((
    xlarge:  ( 1200px,  1680px ),
    large:   ( 992px,   1200px ),
    medium:  ( 768px,   992px  ),
    small:   ( 576px,   768px  ),
    xsmall:  ( null,    576px  )
  ));

// Spinner.

  @include keyframes(spinner) {
    0% {
      @include vendor('transform', 'rotate(0deg)');
    }

    100% {
      @include vendor('transform', 'rotate(359deg)');
    }
  }

  // Base.

  @import 'base/helper';
  @import 'base/reset';
  @import 'base/page';
  @import 'base/typography';

  // Component.

  @import 'components/button';
  @import 'components/form';
  @import 'components/icon';
  @import 'components/list';
  @import 'components/actions';
  @import 'components/table';
  @import 'components/panel';
  @import 'components/rotate';
  @import 'components/poptrox-popup';

  // Layout

  @import 'layout/wrapper';
  @import 'layout/header';
  @import 'layout/main';
  @import 'layout/footer';
  @import 'layout/nav';
  @import 'layout/cal';
  @import 'layout/card';
  @import 'layout/about';
  @import 'layout/modeling';
  @import 'layout/404';
  @import 'layout/licnosti';

.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.bold {
  font-weight: _font(weight-extrabold) !important;
}

body {
  background: _palette(dark-color);
  color: _palette(light-color);
}

#hero{
  overflow: hidden;
  .carousel-inner {
    max-height: 80vh;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.alert {
  font-size: 1em;
  button {
    font-size: 1em;
  }
  button:hover {
    box-shadow: none;
  }
}

