.event-card-wrap{
  background-color: _palette(light-color);
  color: _palette(dark-color);
  padding-bottom: _size(header);
}
.card-link {
	color: _palette(dark-color);
	font-weight: _font(weight-bold);
}
