.event-card-wrap{
  background-color: _palette(light-color);
  color: _palette(dark-color);
  padding-bottom: _size(header);
}
.card-link {
	color: _palette(dark-color);
	font-weight: _font(weight-bold);
}
.logo-card {
	display: block;
	margin: auto;
	img {
		width: 100%;
		height: auto;
	}
}