/* Icons */
.fas,
.fab {
  color: _palette(fg-bold);
}
.fa-facebook {
 color:#3b5998;
}
.fa-twitter {
 color:#00aced;
}
.fa-instagram {
 color:#bc2a8d;
}
.fa-youtube {
 color:#b00000;
}
.icon {
	font-size: 3em;
	margin-right: .5em;
	margin-left: .5em;
}
.fa-chevron-circle-up:hover,
.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-twitter:hover,
.fa-youtube:hover {
	color: _palette(primary-color);
}