.r-wrap {
	background-color: _palette(light-color);
}
.r-card {
	position: relative;
	cursor: pointer;
	width: 100vw;
	height: 80vw;
	text-align: center;
}
@media (min-width: 768px) {
	.r-card {
		width: 50vw;
		height: 40vw;
	}
}
@media (min-width: 1200px) {
	.r-card {
		width: 25vw;
		height: 20vw;
	}
}
.r-card-img {
	position: relative;
    max-width: 100%;
  	height: auto;
    top: 0;
    left: 0;
}
.r-front,
.r-back {
	width: 70%;
	height: 70%;
	top: 15%;
	left: 15%;
	overflow: hidden;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	transition: transform 600ms linear;
	border-radius: 4em;
}
.r-front {
	img { height: 100%; }
	background: _palette(dark-color);
	transform: perspective(600px) rotateY(0deg);
}
.r-back {
	background: _palette(dark-color);
	transform: perspective(600px) rotateY(180deg);
}
.r-backCont {
	color: _palette(primary-color);
	text-align: center;
	padding: 10%;
	width: 100%;
		// margin: 0 auto;
		// background-color: $bg_color;
		// border: 0.2em outset $primary;
		// border-radius: 50px 15px; 
		// text-align: center;
		// max-width: 20em;
		// height: 100%;
}
.r-card:hover > .r-front {
	transform: perspective(600px) rotateY(-180deg);
}
.r-card:hover > .r-back {
	transform: perspective(600px) rotateY(0deg);
}