/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px - 36em) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px - 48em) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px - 62em) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px - 75em) { ... }
*/
@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline; }

/* HELPERS */
.a-c {
  text-align: center; }

.a-l {
  text-align: left; }

.a-r {
  text-align: right; }

@media (min-width: 48em) {
  .desktop-a-l {
    text-align: left; }
  .desktop-a-c {
    text-align: center; }
  .desktop-a-r {
    text-align: right; }
  .left.left {
    float: left; }
  .right.right {
    float: right; } }

.left > .header-wrap,
.right > .header-wrap {
  width: auto; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.spacer {
  height: 1px; }

.ttu {
  text-transform: uppercase; }

.ttl {
  text-transform: lowercase; }

hr.light {
  border-top: 1px solid #d5d5d5;
  margin-top: .8rem;
  margin-bottom: 1rem; }

hr.light100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem; }

.social-nav a {
  font-size: 1.5rem;
  padding: .8rem; }

/* vertical align */
.header-wrap,
.header-m {
  display: table;
  width: 100%;
  height: 100%; }

.header-wrap {
  table-layout: fixed; }

.header-m {
  display: table-cell; }

.header-m {
  vertical-align: middle; }

/* blocklink */
.blocklink {
  cursor: pointer; }

/* Icons */
.fa-facebook {
  color: #3b5998; }

.fa-twitter {
  color: #00aced; }

.fa-instagram {
  color: #517fa4; }

.fa-youtube {
  color: #b00; }

.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-twitter:hover,
.fa-youtube:hover {
  color: #d5d5d5; }

body {
  background: #171619;
  color: #fff; }

.page-header {
  background-color: #fff;
  text-align: center;
  height: 31vh;
  min-height: 235px;
  overflow: hidden; }

.logo {
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer; }

.logo img {
  display: block;
  height: 10em; }

.logo:hover,
.logo:focus {
  text-decoration: none; }

.main-nav {
  top: 15vh;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  color: #111;
  text-align: left; }

.main-nav a {
  text-decoration: none;
  color: #595959;
  padding: 16px 14px;
  display: block;
  border-top: 1px solid #F7F7F7;
  letter-spacing: 4px;
  word-spacing: 2px;
  position: relative; }

.main-nav a:hover,
.main-nav a:focus,
.main-nav li.active a {
  transition: 0.5s; }

.main-nav a:hover:before,
.main-nav a:focus:before,
.main-nav li.active a:before {
  width: 30px; }

.main-nav li.active a {
  color: #111;
  font-weight: 700; }

.hamburger-menu {
  float: right;
  cursor: pointer;
  border-style: none;
  z-index: 102;
  background-color: #fff;
  width: 60px;
  height: 60px; }

#check {
  display: none; }

#check-event label {
  display: none; }
  #check-event label .dropdown-event {
    visibility: hidden; }

@media (max-width: 48em) {
  label {
    float: right; }
  .nav-wrap {
    display: block;
    background-color: #fff; }
  ul {
    z-index: 105;
    position: absolute;
    width: 55%;
    margin-top: 93px;
    overflow: scroll;
    background: #fff;
    visibility: hidden;
    left: 100%;
    text-align: left;
    transition: all .5s; }
    ul ul {
      margin-top: 0; }
  #check:checked + label ul {
    visibility: visible;
    left: 45%; }
  #check-event:checked + label .dropdown-event {
    visibility: visible; }
  nav ul li {
    display: block;
    line-height: 30px; }
  nav ul li a {
    height: 5em;
    font-size: 20px; } }

@media (min-width: 48em) {
  .main-nav {
    text-align: center; }
  .main-nav li {
    display: inline-block;
    margin: 0 10px; }
  .main-nav a {
    border-top: 0;
    padding: 4px; }
  .main-nav a:before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 4px;
    width: 0px;
    height: 5px;
    background-color: #d9d9d9;
    transition: 0.3s; }
  .main-nav .nav-wrap {
    display: block; }
  .hamburger-menu {
    display: none; } }

@media (min-width: 64em) {
  .main-nav {
    position: absolute;
    left: 0;
    width: 100%; }
  .main-nav li {
    margin: 0 10px; }
  .main-nav li:nth-child(2) {
    margin-right: 180px; }
  .main-nav li:nth-child(3) {
    margin-left: 150px; } }

@media (min-width: 84em) {
  .main-nav li {
    margin: 0 25px; }
  .main-nav li:nth-child(2) {
    margin-right: 250px; }
  .main-nav li:nth-child(3) {
    margin-left: 250px; } }

.bar {
  padding: 2px;
  margin: 0;
  margin-bottom: 1em;
  height: 2px;
  position: relative;
  background: #111; }

.coming-next img {
  float: right;
  max-width: 100%;
  height: 100%; }

.jzdbox1 {
  width: inherit;
  background: #332f2e;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #201d1c;
  margin: 0 auto;
  margin-top: 0; }

.jzdcal {
  padding: 0 10px 10px 10px;
  box-sizing: border-box !important;
  background: #749d9e;
  background: -webkit-linear-gradient(#749d9e, #b3a68b) !important;
  background: -o-linear-gradient(#749d9e, #b3a68b) !important;
  background: -moz-linear-gradient(#749d9e, #b3a68b) !important;
  background: linear-gradient(#749d9e, #b3a68b) !important; }

.jzdcalt {
  font: 18px 'Roboto';
  font-weight: 700;
  color: #f7f3eb;
  display: block;
  margin: 18px 0 0 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px; }

.jzdcal span {
  font: 13px 'Roboto';
  font-weight: 400;
  color: #f7f3eb;
  text-align: center;
  width: 14%;
  display: inline-block;
  float: left;
  overflow: hidden;
  line-height: 40px; }

.jzdcal .jzdb:before {
  opacity: 0.3;
  content: 'o'; }

.circle {
  box-sizing: border-box !important;
  border-radius: 200px !important;
  color: #362312 !important; }

span[data-title]:hover:after,
div[data-title]:hover:after {
  font: 11px 'Roboto';
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  margin: 0 0 0;
  background: #282423;
  border: 1px solid #f7f3eb;
  color: #f7f3eb;
  padding: 5px;
  z-index: 9999;
  min-width: 150px;
  max-width: 150px; }

#hero {
  overflow: hidden; }

.event-card-wrap {
  background-color: #fff;
  color: #171619; }
